---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
 name: mgmt-telco-diktio-net
 namespace: telco-gitops
spec:
  generators:
    - git:
        directories:
          - path: clusters/ocpsmc.lab.diktio.net/config-*
        repoURL: 'https://github.com/nsatsia/telco-homelabs.git'
        revision: HEAD
  template:
    metadata:
      name: '01-mgmt-{{path.basename}}'
      namespace: telcot-gitops
    spec:
      destination:
        namespace: telco-gitops
        server: 'https://kubernetes.default.svc'
      project: default
      source:
        path: '{{path}}'
        repoURL: 'https://github.com/nsatsia/telco-homelabs.git'
        targetRevision: HEAD