apiVersion: quay.redhat.com/v1
kind: QuayRegistry
metadata:
  name: lab
  namespace: openshift-operators
spec:
  components:
    - kind: clair
      managed: true
    - kind: postgres
      managed: true
    - kind: objectstorage
      managed: true
    - kind: redis
      managed: true
    - kind: horizontalpodautoscaler
      managed: true
    - kind: route
      managed: true
    - kind: mirror
      managed: true
    - kind: monitoring
      managed: true
  configBundleSecret: lab-quay-config-bundle
